* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.hamburger span {
  display: flex;
  height: 2px;
  background-color: #000000;
  margin-bottom: 4px;
}

.logo a {
  font-family: "DM Serif Display", serif;
  text-decoration: none;
  font-size: 35px;
  font-weight: initial;
  color: #000000;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile a {
  color: #000000;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
}

.user-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}



.title {
    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-size: 36px;
    text-align: center;
    font-style: italic;
    margin-top: 22px;
  }  

  .container {
    margin-bottom: 20px;
  }

  .title a {
    color: #000000; 
    text-decoration:underline dotted ;
  }
  
  .title a:hover {
    text-decoration: underline solid;
  }

  body {
    background-color:#E8E8E8 ;
  }


  
  

.image-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay button {
  background-color: #2c2c2c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.overlay button:hover {
  background-color: #000000;
}

.info-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 10px;
  text-align: left;
  font-family: "DM Serif Display", serif;
  font-size: 16px;
}


.image-container {
  margin-bottom: 40px;
}


.image-container-second {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.image-second {
  width: 100%;
  height: auto;
}

.overlay-second {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container-second:hover .overlay-second {
  opacity: 1;
}

.overlay-second button {
  background-color: #2c2c2c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.overlay-second button:hover {
  background-color: #000000;
}

.info-bar-second {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 10px;
  text-align: left;
  font-family: "DM Serif Display", serif;
  font-size: 16px;
}

.image-container-second {
  margin-bottom: 40px;
}